*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

  /* Header Section */

header {
    background-color: #202020;
    height: 56px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.center-section {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 732px;
    height: 40px;
}
.search-bar {
    width: 536px;
    height: 40px;
    border-radius: 15px;
    margin-left: 32px;
    padding-right: 4px;
    padding-left: 16px;
    border: none;
}

.search-btn{
    width: 64px;
    height: 40px;
    margin-left: 8px;
    border: none;
}

.hamburger-btn {
    background-color: transparent;
    border: none;
    color: white;
   margin-right: 15px;
    cursor: pointer;
}

.container {
    display: flex;
}


.sidebar {
    width: 200px;
    background-color: #181818;
    padding: 20px;
    transition: width 0.3s;
    overflow: hidden;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar li {
    margin: 15px 0;
    cursor: pointer;
}

.sidebar li :hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.sidebar.collapsed {
    width: 60px;
}
/* Main Content Section */

.main-content {
    width: 1111px;
    height: auto;
    flex: 1;
    padding-left: 24px;
    background-color: #ffffff;
}
.footer {
    background-color: #338129;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}